#container{
    display: flex;
    border: 2px;
    border-color: black;
    width: 960px;
    height: 960px;
}
.gridRowSquare{
    height: 6.25%;
    width: 100%;
}
.gridColumn{
    height: 100%;
    width: 6.25%;
}
.toggleblack{
    background-color: black;
}